.my-image-link{
    transition : background-color 0.5s ease-in-out, border 0.5s ease-in-out;

    border: solid rgba(252,187,28,0.54);
    border-radius: 10%/25%;
}
.my-image-link:hover{
    transition : background-color 0.5s ease-in-out, border 0.5s ease-in-out;
        background-color: #fcb81c;
        border-radius: 10%/25%;
        border: solid #fc7c2c;
}

.my-hint-icon{
    /*font-size:300%;*/
}
.section{
    left: 1000px;
}